*.dvi
*.ps
*-current
*.bbl
*.aux
*.log
*.toc
*.cb
*.out
*.blg
*.brf
*.ilg
*.ind
*.lof
*.lot
*.idx
*.bcf
*.fls
*.run.xml
*.synctex
*.synctex.gz
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.lop
*.(busy)
timestamp
mkidxhead.ist
hyperxindy.xdy
missfont.log
tese.pdf
apresentacao.pdf
poster.pdf
artigo.pdf
colinha.pdf
