*.dvi
*.ps
*-current
*.bbl
*.aux
*.log
*.toc
*.cb
*.out
*.blg
*.brf
*.ilg
*.ind
*.lof
*.lot
*.idx
*.bcf
*.fls
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.lop
timestamp
mkidxhead.ist
hyperxindy.xdy
missfont.log
tese-exemplo.pdf
apresentacao-exemplo.pdf
poster-exemplo.pdf
